<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <a href="/main">main page</a>
    <form method = "post" action="/addUser">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="email" placeholder="Enter email">
        <button type="submit">Add</button>
    </form>
</body>
</html>