<html>

<body>
    <form method = "post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="email" placeholder="Enter email">
        <button type="submit">Add</button>
    </form>
    {{#users}}
        <div>
            <b>{{id}}</b>
            <span>{{name}}</span>
            <i>{{email}}</i>
        </div>
    {{/users}}
</body>
</html>